<div class="menu">

{{ range $section := site.Params.sidebar_sections }}
{{ $menu := index site.Menus $section.menu }}
{{ with $menu }}
<span class="{{ $section.style | default "menuheading" }}">
{{- with $section.headingUrl }}<a href="{{ . }}">{{ $section.heading }}</a>{{ else }}{{ $section.heading }}{{ end -}}
</span><br>
{{ range . }}
<a href="{{ .URL }}">{{ .Name }}</a>{{ if .Params.important }} <b>(Important!)</b>{{ end }}<br>
{{ end }}
<br>
{{ end }}
{{ end }}

{{ $posts := where site.RegularPages "Section" "posts" }}
{{ with $posts }}
<span class="menuheading">Archives</span><br>
{{ range .GroupByDate "2006" }}
<a href="/archive/#{{ .Key }}">{{ .Key }}</a> ({{ len .Pages }})<br>
{{ end }}
<br>
{{ end }}

{{ range site.Params.desktops.items }}
<span class="menuheading2">{{ .heading }}</span><br>
<a href="{{ .imageUrl }}"><img src="{{ .image }}" border="0" alt="{{ .imageAlt }}" width="150" height="112"></a><br>
<div align="right">
{{ range $i, $link := .links }}{{ if $i }} | {{ end }}<a href="{{ $link.url }}">{{ $link.name }}</a>{{ end }}
</div><br><br>
{{ end }}

{{ with site.Params.sidebarButton }}
<a href="{{ .url }}"><img src="{{ .image }}" width="{{ .width }}" height="{{ .height }}" border="0" alt="{{ .alt }}"></a><br><br>
{{ end }}

</div>
